@import 'tailwindcss/base';
@import "tailwindcss/components";
@import "tailwindcss/utilities";



$color: theme('colors.slate.800');
$font-size: theme('fontSize.sm');
$background-color: theme('colors.white');

body {
  color: $color;
  font-size: $font-size;
  background-color: $background-color;
}
  

