@use 'tailwindcss/base';
@use "tailwindcss/components";
@use "tailwindcss/utilities";



$color: theme('colors.slate.800');
$font-size: theme('fontSize.sm');
$background-color: theme('colors.white');

body {
  color: $color;
  font-size: $font-size;
  background-color: $background-color;
}
  

@media (max-width: 393px) {
  body {
    font-size: 14px;
  }
}
